a:link {
  text-decoration: none;}
a:visited {
  text-decoration: none;}
a:hover {
  text-decoration: none;}
a:active {
  text-decoration: none;}
.logo {
  opacity: 0.5;
  filter: alpha(opacity=50);}
a:link {
  color: #3a5eb7;}

a:visited {
  color: #3a5eb7;}

a:hover {
  color: white;}

a:active {
    color: #3a5eb7;}

h1 {
  width: 650px;
  height: 40px;
  padding-left: 20px;
  font-family: 'Bevan';
  font-size: 40px;
  color: #3a5eb7;
  padding-top: 10px;}
h1 a {
  display: block;
  color: #3a5eb7;
  text-decoration: none;}
h1 a:hover {
  background-color: #3a5eb7;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-family: 'Roboto', sans-serif;}
li {
  float: left;}
li a {
  display: block;
  color: #3a5eb7;
  text-align: center;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;}
li a:hover {
  background-color: #3a5eb7;}

.div2 {
  border: 1px solid #3a5eb7;
  padding-left: 20px;
  margin-left: 20px;
  width: 300px;
  height: 150px;
  padding-left: 20px;
  padding-top: 10px;}

.title {
  font-size: 20px;
  font-family: 'Bevan';}

h2 {
  font-family: 'Bevan';
  font-size: 35px;
  padding-left: 20px;
  padding-top: 20px;
  color: #3a5eb7;}
h3 {
  padding-left: 40px;
  font-family: 'Roboto', sans-serif;
  color: #5d677c;
  padding-top: 5px;
  padding-bottom: 5px;}
h4 {
  padding-left: 40px;
  font-family: 'Roboto', sans-serif;
  color: #5d677c;
  padding-bottom: 15px;}
h5 a:hover {
  background-color: #3a5eb7;}
.div3 {
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-right: 50px;
  line-height: 1.6;
  text-indent: 40px;
  padding-right: 20px;}
.map {
  float: right;
  padding-left: 10px;
  padding-right: 20px;}
